@font-face { 
  font-family: "Roboto Thin"; 
  src: url("./assets/fonts/Roboto-Thin.ttf"); 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header__logo {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

@media screen and (max-width: 630px) {

  #header__logo {
    display: none;
  }

}

.gridContainer {
  background-image: linear-gradient(to top, rgb(255, 255, 83) , rgb(255, 187, 60));
  display: grid;
  grid-template-areas: 
  "header header header header"
  "Imagenes Imagenes Imagenes Imagenes"
  "info__resume info__resume info__video info__video"
  "info__resume info__resume info__video info__video"
  "footer footer footer footer";
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto;
}

.gridContainerContact {
  background-image: linear-gradient(to top, rgb(255, 255, 83) , rgb(255, 187, 60));
  display: grid;
  grid-template-areas: 
  "header header header header"
  "Imagenes Imagenes Imagenes Imagenes"
  "tabla tabla tabla tabla"
  "registro registro registro registro"
  "footer footer footer footer";
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto;
}

header {
  grid-area:header;
  background-color: orange;
  background-color:rgb(255, 187, 60);
  /* background-image: linear-gradient(to bottom,yellow , orange); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  width: 100%;
}

@media screen and (max-width: 630px) {

  header {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

header a {
  color: white;
  display: inline-block;
  /* border-right: 1px solid white;*/
  padding: 0px 10px;
  text-decoration: none;
}

header a:hover {
  transform: scale(1.2);
  text-decoration: underline;
}

header nav ul li {
  color: white;
  display: inline-block;
  justify-content: center;
  padding: 24px 0px;
  text-decoration: none;
}

.header__last {
  padding: 24px 10px;
}

@media screen and (max-width: 630px) {
  .header__last {
    padding: 0px;
  }
}

.header__nav__option--active {
  background-color: orangered;
}

header nav ul li:hover {
  /* background-color: yellow; */
  background-color: rgb(255, 255, 83);
}

.header__navBar a {
  text-decoration: none;
}

.Imagenes {
  display: inline-block;
  grid-area: Imagenes;
  margin: 10px auto;
  /* width: 90%;  */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  width: 256px;
  height: 256px;
  padding: 5px;
  cursor: pointer;
}

.inRow {
  transition: transform 0.5s;
}

.inRow:hover { /* Imagenes del banner */
  transform:  translate(100px, 100px) scale(1.5);
}

.inRow:last-child:hover { /* Mantenerla dentro de la pantalla */
  transform:  translate(-100px, 100px) scale(1.5);
}

table img {
  transition: transform 0.5s;
}

table img:hover {
  transform: scale(1.3);
}

.Referencia {
  font-style: italic;
}

.info {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 10px auto;
  min-height: 100%;
  padding: 10px;
  width: 90%;
}

article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px auto;
}

.info__resume { 
  grid-area: info__resume;
  background-image: url(./assets/Imagenes/panel_fondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  font-family: "Roboto Thin", cursive;
  height: auto;
  padding: 5px;
  width: 40%;
}

.info__video {
  grid-area: info__video;
  display: inline-block;
  position: relative;
  width: 60%;
  min-height: 400px;
  min-width: 400px;
  max-height: 700px;
  max-width: 700px;
  height: auto;
}

iframe{
  border: solid 1px red;
  bottom: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; /* Para que no tape a la imagen cuando se expande */
}

span{
  display: block;
  padding-top: 3%;
}

td { 
    border: 2px solid;
    padding: 10px;
}

tr {
  flex-wrap: no-wrap;
  width: 100%;
}

table {
  display: flex;
  padding: 20px 0px;
  width: 100%;
}

@media screen and (max-width: 428px) {
  table img {
    min-width: 100%;
    min-height: 100%;
  }

  tr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
}

.additionalExp {
  /* background-color: gainsboro; */
  list-style-type: none ;
  margin: 2%;
  width: 95%;
}

footer{
  grid-area: footer;
  display:block;
  padding: 3%;
}

@media screen and (max-width: 800px) {
  .teamMembers img {
    min-width: 650px;
    min-height:650px; 
    padding: 25px;
  }

  tr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 660px){
  .teamMembers img {
    min-width: 512px;
    min-height:512px; 
    padding: 25px;
  }
}

@media screen and (max-width: 550px){
  .teamMembers img {
    min-width: 256px;
    min-height:256px; 
    padding: 25px;
  }
}

.projects img {
  width: 512px;
  height: 512px;
  transition: transform 0.5s;
}

.projects img:hover {
  transform: translate(100px, 100px) scale(1.3);
}

.tabla {
  margin: 2%;
  width: 98%;
}

.tablaContacto {
  border:2px solid;
  border-spacing: 2px;
  border-collapse: separate;
  grid-area: tabla;
  margin-top: 10px;
  margin-left: auto;
  width: 95%;
  min-width: 80%;
}

.tablaContacto tr {
  display: table;
  flex-wrap: no-wrap;
}

.tablaContacto td {
  min-width: 100px;
  max-width: 150px;
  /* width: 120px;  */
  border: none;
}

.tablaContacto th {
  min-width: 100px;
  border: none;
}

@media screen and (max-width: 450px) {
  .tablaContacto tr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
}

.register {
  grid-area: registro;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

fieldset {
  padding: 10px;
  margin: 10px 0px;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

input {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  width: 20%;
}

input[name="frec"] {
  width: 5%;
}

.credentials {
  display: inline-block;
  padding: 10px;
  width: 100%;
  /* text-align: center; */
}

.credentials input {
  display: inline-block;
  width: 30%;
  align-items: flex-start;
}

#countries {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  width: 15%;
}

label {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  width: 90px;
}

input[type="radio"]:checked + label{
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-wrap: wrap; 
  padding: 10px;
  margin: 10px 0px;
  align-self: baseline;
}

#botonLimpiar {
  min-width: 100px;
}

#botonEnviar {
  min-width: 100px;
}

@keyframes toSpin {
  0% { transform: rotate(0deg)}
  10% { transform: rotate(36deg)}
  20% { transform: rotate(72deg)}
  30% { transform: rotate(108deg)}
  40% { transform: rotate(144deg)}
  50% { transform: rotate(180deg)}
  60% { transform: rotate(216deg)}
  70% { transform: rotate(252deg)}
  80% { transform: rotate(288deg)}
  90% { transform: rotate(324deg)}
  100% { transform: rotate(360deg)}
}

#sunSpinner {
  animation-name: toSpin;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-delay: 0.5s;
  /* cursor: auto; */
  width: 64px;
  height: 64px;
  margin: 0px 10px;
}