
$background-color1: rgb(255, 255, 83);
$background-color2: rgb(255, 187, 60);
$gradient-angle: 120deg;

$header-active-option-color: orangered; 

$iframe-border-color: red;

// Aplicación de MAPs
$socialNetworks-colors: (
    Facebook: #3b5998,
    Twitter:#00acee,
    Instagram: #E1306C,
);

.color-Facebook {
  color: map-get($map: $socialNetworks-colors, $key: Facebook);
}
.color-Twitter {
  color: map-get($map: $socialNetworks-colors, $key: Twitter);
}
.color-Instagram {
  color: map-get($map: $socialNetworks-colors, $key: Instagram);
}