$index-layout:"header header header header"
  "Imagenes Imagenes Imagenes Imagenes"
  "info__resume info__resume info__video info__video"
  "info__resume info__resume info__video info__video"
  "footer footer footer footer";

$general-layout:"header header header header"
  "Imagenes Imagenes Imagenes Imagenes"
  "Cuerpo Cuerpo Cuerpo Cuerpo"
  "Cuerpo Cuerpo Cuerpo Cuerpo"
  "footer footer footer footer";

$contact-layout:"header header header header"
  "Imagenes Imagenes Imagenes Imagenes"
  "tabla tabla tabla tabla"
  "registro registro registro registro"
  "footer footer footer footer";

$layout-rows-height: auto auto auto auto auto;
$layout-columns-height: auto auto auto auto auto;

$info-grid-column-start: 1;
$info-grid-column-end: 5;
